Software		Test executable		Website								Notes
--------		---------------		-------								-----
Enve-omics scripts	FastQ.tag.rb		http://github.com/lmrodriguezr/enveomics			All the collection must be present
SolexaQA++		SolexaQA++		http://solexaqa.sourceforge.net					Required version: v3.1.3+
Scythe			scythe			https://github.com/vsbuffalo/scythe				Required version: 0.991+
FastQC			fastqc			http://www.bioinformatics.babraham.ac.uk/projects/fastqc
IDBA			idba_ud			http://i.cs.hku.hk/~alse/hkubrg/projects/idba
MetaGeneMark		gmhmmp			http://exon.gatech.edu/genemark/license_download.cgi		The folder must contain the key and the scripts
HMMer 3.0+		hmmsearch		http://hmmer.janelia.org/software
NCBI BLAST+		blastp			ftp://ftp.ncbi.nlm.nih.gov/blast/executables/blast+/LATEST
R			R			http://www.r-project.org/
SQLite3			sqlite3			https://www.sqlite.org/
RAxML (pthreads)	raxmlHPC-PTHREADS	http://sco.h-its.org/exelixis/web/software/raxml/index.html
MCL			mcl			http://micans.org/mcl/
DIAMOND			diamond			http://ab.inf.uni-tuebingen.de/software/diamond			Required version: v0.7.9+
MyTaxa			MyTaxa			http://enve-omics.ce.gatech.edu/mytaxa				The folder must contain the db and utils dirs, and the AllGenomes.faa BLAST database
Krona			ktImportText		https://github.com/marbl/Krona/wiki
Barrnap			barrnap			http://www.vicbioinformatics.com/software.barrnap.shtml
bedtools		bedtools		http://bedtools.readthedocs.org/en/latest/
